@model Movie
@{
    var controller = Context.GetRouteValue("Controller").ToString();
    var action = Context.GetRouteValue("Action").ToString();
    var path = $"{Context.Request.Host.Value}/movies/details/{Model.MovieId}/{@HttpUtility.UrlEncode(Model.Title)}";
}

<div class="col-md-2 col-sm-6 mb-3 movie-card">
    <a class="text-decoration-none text-light" asp-controller="Movies" asp-action="Details"
       asp-route-id="@Model.MovieId" asp-route-slug="@Model.Slug">
        <div class="card rounded-3 cardHover border-0">
            <div class="position-relative">
                <div class="movie-trending-rank">@ViewData["rank"]</div>
                <img src="@Model.Poster" class="card-img-top full-height-img" alt="@Model.Title image">
                <div class="card-overlay">
                    <div class="card-body">
                        <div class="card-title mb-n2 @(action == "Details" && controller == "Movies" ? "fs-6" : "fs-5")">
                            @Model.Title
                        </div>
                        <div class="mt-4  @(action == "Details" && controller == "Movies" ? "d-none" : " ")">
                            <a class="btn @(Model.IsInWatchList ? "btn-warning" :"btn-outline-warning" )" title="@(!Model.IsInWatchList ? "Add to Watchlist": "Remove from watchlist") "
                               asp-controller="WatchList" asp-action="Add" asp-route-id="@Model.MovieId">
                                <i class="fa-solid fa-bookmark"></i>
                            </a>
                            @*<a class="btn btn-outline-warning" title="Like" asp-action="Index">
                                <i class="fa-solid fa-heart"></i>
                            </a>*@
                            <button class="btn btn-outline-warning" title="Share" asp-action="Index" onclick="copyPath()">
                                <i class="fa-solid fa-share"></i><span class="d-none" id="copyPath">@path</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>


